
# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "F+XHu2+N49O4cjX4Lzd5JwAnwez/EYUk6sOLQipiQ2tYLBANqnm3yCXQ+ocldpGF6sTk/jx1wca0QEBsp+97Cq0UyhySYPEXLHNjmShjKS0aiq4a+WBldB63vWQVdvitn4AwvQrByX2FKQm59KtAG5Vd00zE+eq3v65jf3NfSNgdw25jY3EGV75whAzFlgoRBJwIGmaOsIJ23uJazIt6oVRd2KEsIStuoNwhYr1JFxJ4ciQ1BieMGkAfFctDP/k5ckbeKTUBIkELRJyEce4bWfOgcsMkY4ZUe6m/X61vlav3aPYB5bzC60+4+hM6ugf4gicrw8ri9cJZ3igv+s6b5yEa9xXzurELVn2MkpcVEgqGJYbZ9A8dh6sOjHrGCL+lQ/8MZBX4rFgx9EQWMt3KAPKXlf8Z6BoDLCw7FuH1vRBAKFUdJzf9r75eh9tuy0864CopMe82j7jg5X8stx3rLjz3ea7k2N7xYcFySx9aZRitDHcPSLJh454OxRgoWi97FY0RQyg5EqfKoO293xSkvFqPFcjFvdXTCmO6gglbsPjuBSQp8ctUzQkLIW1DkKSCX2Kv+w67rqQ2yWwnajltaYug8E0Lig4JBp3cqR2yi7+Bau8wrhTEAOHpIkAg7q3dK5NyQzrz7r6ZbntyyWWAQYFyDRt0o356IvcaclxrLuQ="


install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-3.7.3-MacOSX-x86_64.sh"
      wget "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client

      
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
